package user

import (
	"github.com/webtaken/go-templ/view/layout"
	"github.com/webtaken/go-templ/model"
	"github.com/webtaken/go-templ/view/components"
)

func getUser(c context.Context) string {
	user, ok := c.Value("user").(string)
	if !ok {
		return ""
	}
	return user
}

templ Show(user model.User) {
	<h1>
		{ getUser(ctx) }
	</h1>
	@layout.Base("") {
		<h1>hello { user.Email } from the user page</h1>
		@components.Input("email", "email")
	}
}
